*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 38%, 92%);
}
.attribution { font-size: 11px; text-align: center; margin-top: 10px;}
.attribution a { color: hsl(228, 45%, 44%); }

/*Estructura e Imagen*/
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 375px;
    background-color: hsl(0, 0%, 100%);
    border-radius:10px;
    margin-top:30px ;
}
.img-desktop{
    display: none;
}
@media(min-width:680px) {
    .container{
        width: 550px;
        flex-direction: row;
        margin-top: 30vh;
    }
    .img{
        display: none;
    }
    .img-desktop{
        display:initial;
        width: 50%;
        border-radius: 10px 0 0 10px;
    }
}
.img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}

/*Información del producto*/
.container-datos{
    padding: 25px;
}
.title{
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    margin: 5px 0 15px;
    line-height: 2rem; 
    color: hsl(212, 21%, 14%);
}
.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-top: 20px;
}
.priceP{
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    font-size: 1.8rem;
}
.desc{
    text-decoration: line-through;
}
.text-color{
    color:hsl(228, 12%, 48%)
}
.text-p{
    line-height: 1.2rem;
}
@media(min-width:680px){
    .container-datos{
        height: 362px;
    }
    .title{
        margin: 15px 0 15px;
    }
    .price{
        margin: 20px 0px 15px;
        width: 80%;
    }
}
/*Button*/
.button{
    width: 100%;
    height: 45px;
    background-color:hsl(158, 36%, 37%);
    border: none;
    border-radius: 8px;
    color: hsl(0, 0%, 100%);
    margin-top: 15px;
}
.container-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-button img{
    margin-right: 10px;
}
@media(min-width:680px){
    .button:hover{
        background-color: hsl(158, 36%, 20%);
        cursor: pointer;
    }
}